@import 'assets/scss/variables/__colors.scss';
@import 'assets/scss/util/__animations.scss';

.DragMap__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
    @include transition();
    
    &-label{
        font-size: 10px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        padding: 4px 17px;
        max-width: 160px;
        background-color: darken($color-primary, 4);
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
        text-align: center;
        text-transform: uppercase;
        border-radius: 8px;
        border: 0.5px solid darken($color-primary, 4);
        border: 1.5px solid transparent;
        @include transition();
    }
    
    &-bullet{
        position: relative;
        width: 1.6px;
        height: 20px;
        background-color: darken($color-primary, 4);
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.02);
        @include transition();
        
        &:after{
            content: '';
            position: absolute;
            bottom: -6px;
            left: 50%;
            transform: translateX(-50%);
            width: 9px;
            height: 9px;
            border-radius: 50%;
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
            background-color: darken($color-primary, 4);
        }
    }
    

    &:hover{
        .DragMap__item-label{
            @include scale(1.09);
            color: #fff;
            background-color: darken($color-primary, 4);
        }
    }
    
    &.invertido{
        .DragMap__item-label{
            order: 2;
        }

        .DragMap__item-bullet{
            &:after{
                bottom: unset;
                top: -6px;
            }
        }
    }
}