@import 'assets/scss/util/__animations.scss';
@import 'assets/scss/variables/__breakpoints.scss';

.PageHeader{

    .container{
        position: relative;
    }

    &__back{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        width: 40px;
        height: 40px;
        background-image: url('../../assets/images/ico/back-arrow.png');
        background-size: contain;
        background-position: center center;
        background-color: transparent;
        border: none;
        outline: none !important;
        @include transition();

        &:hover{
            width: 45px;
            height: 45px;
        }

        @media screen and (max-width: $bp-MD){
            position: relative;
            left: 48%;
            transform: translateX(-50%);
            top: 0;
            margin-bottom: -20px;
        }
    }
}