@import 'assets/scss/util/__animations.scss';
@import 'assets/scss/variables/__all.scss';

.DragMap {
    width: 100%;
    height: 500px;
    border-radius: 15px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.267);
    overflow: hidden;
    max-width: 900px;
    background-color: rgba(0, 0, 0, 0.1);
    @include transition();

    &:hover {
        @include scale(1.02);
    }


    &__content {
        position: relative;
        width: 900px;
        height: 100%;
        cursor: move;

    }

    &__scene {
        position: absolute;
        border-radius: 15px;
        width: 102%;
    }
}