@import 'assets/scss/util/__animations.scss';
@import 'assets/scss/variables/__all.scss';

.Navbar {
    display: flex;
    justify-content: center;

    &__brand{
        color: $color-primary !important;
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
        width: 280px;
        padding: 18px 45px;
        // background-color: $color-primary;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.201);
        text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.301);
        border-radius: 0 0 8px 8px;
        line-height: 1.1;
        opacity: .9;
        font-weight: 300;
        margin: 0;
    }
}